:root {
  --white: #white;
  --light-gray: #f0f0f0;
  --dark-gray: #00ffff;
  --black: #1e1e1e;
  --yellow: #f99c14;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 115px;
 
}

#calculator {
  display: grid;
  grid-template-areas:
    "display display display display"
    "clear negative percentage divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero decimal equals";
    grid-template-columns: 100px 100px 100px 100px;
    gap: 20px;
    padding: 50px;
    padding-top: 2px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: var(--black);
}

.light-gray {
  background-color: var(--light-gray);
}

.dark-gray {
  background-color: var(--dark-gray);
  color: white; 
}

.yellow {
  background-color: var(--yellow);
  color: white;
}

button {
  height: 100px;
  border: none;
  font-size: 24px;
  width: 100%;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
}

button:active {
  transform: scale(0.95);
}

#answer {
  grid-area: answer;
  font-size: 50px;
  color: red;
  text-align: right;
  padding-right: 20px;
  padding-top: 60px;
}

#display-expression {
  grid-area: expression;
  font-size: 36px;
  padding-right: 20px;
}

#expression {
  height: 30px;
  font-size: 120px;
  color: var(--dark-gray);
  text-align: center;
  padding-bottom: 50px;
}

#display {
  grid-area: display;
  padding-top: 120px;
}



#divide {
  grid-area: divide;
}

#multiply {
  grid-area: multiply;
} 

#subtract {
  grid-area: subtract;
}

#add {
  grid-area: add;
}

#equals {
  grid-area: equals;
}

#clear {
  grid-area: clear;
}

#negative {
  grid-area: negative;
}

#percentage {
  grid-area: percentage;
}

#decimal {
  grid-area: decimal;
}

#zero {
  grid-area: zero;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

h1 {
  font-size: 60px;
  margin-bottom: 0;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;  
}

#inWords {
  font-size: 30px;
  text-align: center;
  color: var(--yellow);
}

/*Mobile responsiveness*/
@media (max-width: 767px) {
  #calculator {
    grid-template-areas:
      "display display display display"
      "clear negative percentage divide"
      "seven eight nine multiply"
      "four five six subtract"
      "one two three add"
      "zero zero decimal equals";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        padding: 20px;
        margin-top: 0px;
        border-radius: 10px;
        background-color: var(--black);
      }

  button {
    height: 80px;
    font-size: 20px;
  }

  #answer {
    font-size: 40px;
    padding-top: 40px;
  }

  #expression {
    font-size: 80px;
    padding-bottom: 30px;
  }

  h1 {
    font-size: 30px;
    padding-top: 0px;
  }

  #inWords {
    font-size: 20px;
  }

  #calculator {
    padding: 20px;
  }

  #display {
    padding-top: 0px;
  }

  #answer {
    padding-top: 0px;
  }

  #expression {
    padding-bottom: 30px;
  }

  #clear {
    padding: 30px;
  }

  #negative {
    padding: 10px;
  }

  #percentage {
    padding: 10px;
  }

  #divide {
    padding: 10px;
  }

  #multiply {
    padding: 10px;
  }

  #subtract {
    padding: 10px;
  }

  #add {
    padding: 10px;
  }

  #equals {
    padding: 10px;
  }

  #decimal {
    padding: 10px;
  }

  #zero {
    padding: 10px;
  }

  #one {
    padding: 10px;
  }

  #two {
    padding: 10px;
  }

  #three {
    padding: 10px;
  }

  #four {
    padding: 10px;
  }

  #five {
    padding: 10px;
  }

  #six {
    padding: 10px;
  }

  #seven {
    padding: 10px;
  }

  #eight {
    padding: 10px;
  }

  #nine {
    padding: 10px;
  }

  .container {
    height: auto;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    padding-left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  .container {
    margin-top: -180px;
  }
}












